<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.zeitlings.finder.crawl</string>
	<key>connections</key>
	<dict>
		<key>08E8FA4C-1BE9-4D31-B624-1DAC4F0BA455</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>12E0395A-B690-46EF-9AFD-DD500B60EEDE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3AA8E61C-F9DF-425A-98B6-339D58492BDF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EA9E72E2-D953-4F8D-BDFB-1FBAB9B1B861</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Browse in Alfred</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>A90B3A8D-B90B-4935-8BB0-D8B7E96F744F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>12E0395A-B690-46EF-9AFD-DD500B60EEDE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3AA8E61C-F9DF-425A-98B6-339D58492BDF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EA9E72E2-D953-4F8D-BDFB-1FBAB9B1B861</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Browse in Alfred</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>C80D8AAF-3AF8-4E43-BD41-FC0521A6E94B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>08E8FA4C-1BE9-4D31-B624-1DAC4F0BA455</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ED5D1514-D616-4231-9E58-D7E6F1DFCFC8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A90B3A8D-B90B-4935-8BB0-D8B7E96F744F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Patrick Sy</string>
	<key>description</key>
	<string>Find files and folders recursively in the frontmost Finder window</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Finder Crawl</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:keyf}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/crawl.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search Files in frontmost Finder window…</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A90B3A8D-B90B-4935-8BB0-D8B7E96F744F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>12E0395A-B690-46EF-9AFD-DD500B60EEDE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>ED5D1514-D616-4231-9E58-D7E6F1DFCFC8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {variables}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>3AA8E61C-F9DF-425A-98B6-339D58492BDF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
				<key>sortBy</key>
				<integer>0</integer>
				<key>sortDirection</key>
				<integer>0</integer>
				<key>sortFoldersAtTop</key>
				<false/>
				<key>sortOverride</key>
				<false/>
				<key>stackBrowserView</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinalfred</string>
			<key>uid</key>
			<string>EA9E72E2-D953-4F8D-BDFB-1FBAB9B1B861</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:keyd}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string>export ONLY_FOLDERS=1
./scripts/crawl.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search Folders in frontmost Finder window…</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>08E8FA4C-1BE9-4D31-B624-1DAC4F0BA455</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C80D8AAF-3AF8-4E43-BD41-FC0521A6E94B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>![Finder Crawl Workflow Icon](icon.png)

# Finder Crawl

---
Created by [Patrick Sy](https://github.com/zeitlings) | [Github](https://github.com/zeitlings/alfred-workflows) | [Alfred Forum](https://www.alfredforum.com/topic/22837-finder-crawl/) | [Buy me a Coffee](https://ko-fi.com/zeitlings) ☕  
---

## Usage

Find files and folders nested within folders of the active Finder window via the `fn` keyword. 
Alternatively, use the `fnd` keyword to only search for folders.

![Workflow preview file finder keyword](images/keyword.fn.png)

![Workflow preview folder finder keyword](images/keyword.fnd.png)

- &lt;kbd&gt;↩&lt;/kbd&gt; Open file or folder
- &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Reveal file or folder
- &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Browse in Alfred
- &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;L&lt;/kbd&gt; View the unabridged file path as [Large Type](https://www.alfredapp.com/help/features/large-type/)
- &lt;kbd&gt;⌃&lt;/kbd&gt; View file path</string>
	<key>uidata</key>
	<dict>
		<key>08E8FA4C-1BE9-4D31-B624-1DAC4F0BA455</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Find folders in frontmost Finder window</string>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>12E0395A-B690-46EF-9AFD-DD500B60EEDE</key>
		<dict>
			<key>xpos</key>
			<real>615</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>3AA8E61C-F9DF-425A-98B6-339D58492BDF</key>
		<dict>
			<key>xpos</key>
			<real>425</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>A90B3A8D-B90B-4935-8BB0-D8B7E96F744F</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Find files in frontmost Finder window</string>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>C80D8AAF-3AF8-4E43-BD41-FC0521A6E94B</key>
		<dict>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>EA9E72E2-D953-4F8D-BDFB-1FBAB9B1B861</key>
		<dict>
			<key>xpos</key>
			<real>615</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>ED5D1514-D616-4231-9E58-D7E6F1DFCFC8</key>
		<dict>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>fn</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>File Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyf</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>fnd</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Folder Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyd</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>File Search Includes Folders</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Options</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>INCLUDE_FOLDERS</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Show Relative Path of Nested Items</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>SHOW_RELATIVE_NESTED_PATH</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>defaultvalue</key>
				<integer>4</integer>
				<key>markercount</key>
				<integer>6</integer>
				<key>maxvalue</key>
				<integer>6</integer>
				<key>minvalue</key>
				<integer>1</integer>
				<key>onlystoponmarkers</key>
				<true/>
				<key>showmarkers</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Depth</string>
			<key>type</key>
			<string>slider</string>
			<key>variable</key>
			<string>MAX_DEPTH</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string>~/Desktop</string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string>The default search location if no Finder window is open.</string>
			<key>label</key>
			<string>Fallback</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>DEFAULT_LOCATION</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/zeitlings/alfred-workflows</string>
</dict>
</plist>
